ion-content {
    background-color: lightgray;
    img {
        border: 10px solid transparent;
        border-radius: 30px;
    }
}

ion-list-header.optional {
    background-color: rgba(245, 245, 240, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

ion-list-header.required {
    background-color: rgba(192, 26, 26, 0.5);
    color: white;
}

.product-header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
        padding-left: 1rem;
        font-size: large;
        font-weight: bolder;
        .subtitle {
            font-size: 70%;
            color: gray;
        }
    }
    .subtitle {
        font-weight: normal;
    }
    .price {
        font-weight: bolder;
        width: 20%;
        height: 100%;
        text-align: right;
        padding-right: 1em;
    }
}

ion-footer {
    padding-left: 10px;
    padding-right: 10px;
}

@media only screen and (min-width: 1024px) {
}