ion-content {
    background-color: lightgray;
    img {
        border: 10px solid transparent;
        object-fit: cover;
        border-radius: 500px;
        width: 10em;
        height: 10em;
    }
}

ion-list-header.optional {
    background-color: rgba(245, 245, 240, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

ion-list-header.required {
    background-color: rgba(192, 26, 26, 0.5);
    color: white;
}

.product-header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    > .steps {
      width: 30%;
      text-align: center;
      border-radius: 50%;
    }
    .price {
      display: flex;
      align-items: center;
      justify-content: center;

      > div {
        font-weight: bolder;
        font-size: xx-large;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4em;
        height: 4em;
        background-color: rgba(20, 16, 106, 0.8);
        border-radius: 50%;
      }
    }

    .title {
        padding-left: 1rem;
        font-size: large;
        font-weight: bolder;
        .subtitle {
            font-size: 70%;
            color: gray;
        }
    }
    .subtitle {
        font-weight: normal;
    }
    ion-icon[name=arrow-forward]{
      width: 1em;
      height: 1em;
    }
}

ion-footer {
    padding-left: 10px;
    padding-right: 10px;
}

@media only screen and (max-width: 640px) {
  .product-header{
    .delivery {
      display: none;
    }
    .price {
      position: fixed;
      bottom: 3em;
      right: 0px;
      z-index: 2;
      margin-right: 1em;
      width: auto;
      > div {
        font-size: medium;
      }
    }
    ion-icon[name=arrow-forward]{
      display: none;
    }
    .product {
      width: 100%;
    }
  }
}