tabbed-navigator.can-go-back ion-back-button { display: block; }

ion-content {
    background-color: lightgray;
    p {
        padding: 0rem 2rem 0rem 2rem;
        font-size: small;
    };
    hr {
        margin: 1em 0em 1em 0em;
    }
}

#logo {
    width: 15%;
    float: right;
    margin: -20px 0 0 0;
}

.delivery-group-title {
    font-weight: bolder;
    font-size: medium;
    padding-left: 2em;
}

.delivery-group-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    mat-card {
        min-width: 300px;
        width: 95%;
        height: 95%;
        min-height: 112px;
        background-color: rgba(245, 245, 240, 0.5);
        margin: 2%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        cursor: pointer;
    };
    .mat-card-sm-image {
        object-fit: cover;
    }
    .price {
        position: absolute;
        bottom: 12%;
        font-size: medium;
        font-weight: lighter;
    }
}

@media only screen and (max-width: 640px) {
    .delivery-group-list {
        flex-direction: column;
    }
    #logo {
        width: 30%;
    }
}  