<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/app/deliveries"></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{delivery.name}}
            <div class="subtitle">{{toServicesFormat()}}</div>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <img src="/assets/images/temp/company.png" id="logo" />
    <p innerHtml="{{delivery.description}}"></p>
    
    <div *ngFor="let group of groups">
        <hr>
        <label class="delivery-group-title">
            {{group.title}}
        </label>
        <hr>
        
        <div class="delivery-group-list line">
          <ion-card *ngFor="let prod of group.products" [routerLink]="'/app/deliveries/buy/' + prod.id">
            <div class="delivery-group-list details">
              <div *ngIf="prod.image">
                <img mat-card-sm-image src="assets/images/temp/{{prod.image}}">
              </div>
              <ion-card-header>
                <ion-card-title>{{prod.name}}</ion-card-title>
                <ion-card-subtitle>{{prod.description}}</ion-card-subtitle>
              </ion-card-header>
              <img *ngIf="prod.sale" class="tag-price" src="assets/images/icons/tag-price-hot.png">
            </div>
            <div class="price">
              {{prod.price | $}}
            </div>
          </ion-card>
        </div>
    </div>

</ion-content>
