<ion-header>
	<ion-toolbar>
		<ion-title>
			Restaurantes
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
  <div class="delivery-group-list line">
    <ion-card *ngFor="let item of listDeliveries; let i = index" [routerLink]="'details/' + item.id">
      <div class="delivery-group-list details">
        <div class="img-container">
          <img mat-card-sm-image src="/assets/images/temp/company.png">
        </div>
        <ion-card-header>
          <ion-card-title>{{item.name}}</ion-card-title>
          <ion-card-subtitle>
            <ion-icon name="star"></ion-icon>{{item.rating}} | {{toServicesFormat(item)}}
          </ion-card-subtitle>
        </ion-card-header>
      </div>
    </ion-card>
  </div>
</ion-content>