ion-content {
    background-color: lightgray;
    p {
        padding: 0rem 2rem 0rem 2rem;
        font-size: small;
    }
    hr {
        margin: 1em 0em 1em 0em;
    }
}

.delivery-group-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    ion-card {
      width: 40em;
      border: 1px solid rgba(0, 0, 0, 0.1);
      cursor: pointer;
    }
    .img-container {
      width: 5em;
      height: 100%;
    }
    ion-card-header {
      width: 100%;
      ion-card-title{
        font-size: larger;
      }
      ion-card-subtitle {
        font-size: smaller;
      }
    }
    img {
      width: 100%;
    }
}

@media only screen and (max-width: 640px) {
  .delivery-group-list {
    flex-direction: column;
    padding-left: 1em;
    padding-right: 1em;
    ion-card {
      width: 100%;
    }
  }
}