.delivery-group-list {
  display: flex;
  flex-direction: row;

  ion-card {
    flex-direction: column;
    cursor: pointer;
    padding: 0.5em;
    width: 300px;
    max-height: 100%;
    
    .order-date {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      padding: 5px;
      width: 4em;
      height: 4em;
      margin-top: 13px;
      margin-left: 13px;
      background-color: #f2f2f2;
      border-radius: 4px;
    }
    .order-date > span:first-child {
      color: #3e3e3e;
      font-size: 1.125rem;
      line-height: 1.375rem;
      font-weight: 800;
    }
    ion-card-title {
      font-size: larger;
      font-weight: 600;
    }
    ion-card-subtitle {
      font-size: small;
    }
    ion-card-header {
      height: 4em;
    }
    ion-card-content {
      height: 50%;
    }
  }
  .line {
    flex-flow: wrap;
    flex-direction: row;
  }
  .details {
    height: 50%;
  }
}

@media only screen and (max-width: 640px) {
  .delivery-group-list {
    ion-card {
      width: auto;
      .mat-card-sm-image {
        width: 6em;
      }
    }
  }
  .delivery-group-list.line {
      flex-direction: column;
  }
}  